{% extends 'base.html' %}
{% load static %}

{% block css %}

    <link rel="stylesheet" href="{% static 'CSS/userlogin.css' %}">
    
{% endblock css %}
    

{% block main %}

    <nav></nav>
    <main>

        <form action="" method="post" id="register">
        {% csrf_token %}
        <h2>Register Page</h2>

        <div class="inputfield">
            FIRSTNAME : {{ form.first_name }}
        </div>

        <div class="inputfield">
            LASTNAME : {{ form.last_name }}
        </div>
        
        <div class="inputfield">
            USERNAME : {{ form.username }}
        </div>

        <div class="inputfield">
            EMAIL : {{ form.email }}
        </div>

        <div class="inputfield">
            PASSWORD : {{ form.password1 }}
        </div>

        <div class="inputfield">
            CONFIRM PASSWORD : {{ form.password2 }}
        </div>

        <button type="submit">Register</button>

        <p>Have an Account : <a href="{% url 'userlogin' %}">Login</a></p>

        </form>

        {% if messages %}
            {% for message in messages %}
                <p style="color: red;">{{ message }}</p>
            {% endfor %}
        {% endif %}
    </main>
    

{% endblock main %}